name: Guiced EE (BOM)
on:
  workflow_dispatch:
    inputs:
      centralRelease:
        type: boolean
        description: Run a release to maven central
        default: false
  push:
env:
  GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
  GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
jobs:
  Versioner:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    with:
      baseDir: 'Versioner/'
      name: 'Versioner'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  Standalone:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: 'StandaloneBOM/'
      name: 'Standalone'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  Tests:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: 'TestLayoutBOM/'
      name: 'Test Layouts'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  Swagger:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: 'SwaggerBOM/'
      name: 'Swagger'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  JBoss:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: 'JBossBOM/'
      name: 'JBoss'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  Jakarta:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: 'JakartaBOM/'
      name: 'Jakarta'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  Hibernate:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: 'HibernateBOM/'
      name: 'Hibernate'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  Google:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: 'GoogleBOM/'
      name: 'Google'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  FasterXML:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: 'FasterXMLBOM/'
      name: 'FasterXML'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  Apache-CXF:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: 'ApacheCXFBOM/'
      name: 'Apache CXF'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  Apache-Commons:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: 'ApacheBOM/'
      name: 'Apache'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  SmallRye:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: 'SmallRyeBOM/'
      name: 'Guiced-EE BOM'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
  GuicedEE:
    uses: GuicedEE/Workflows/.github/workflows/bom.yml@master
    needs:
      - Versioner
    with:
      baseDir: ''
      name: 'Guiced-EE BOM'
      publishToCentral: ${{inputs.centralRelease}}
    secrets: inherit
